<div>
  <div id="parent-to-child" class="divider">
    <app-hero-parent></app-hero-parent>
  </div>

  <div id="parent-to-child-setter" class="divider">
    <app-name-parent></app-name-parent>
  </div>

  <div id="parent-to-child-on-changes" class="divider">
    <app-version-parent></app-version-parent>
  </div>

  <div id="child-to-parent" class="divider">
    <app-vote-taker></app-vote-taker>
  </div>

  <div id="parent-to-view-child" class="divider">
    <app-countdown-parent-vc></app-countdown-parent-vc>
  </div>

</div>
